* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400, 700;
}

p {
  margin-top: 0.8rem;
  color: hsl(216, 15%, 48%);
}

h2,
p {
  text-align: center;
  width: 90%;
}

.container,
.image-container img {
  border-radius: 10px;
}

.container {
  margin-top: 8%;
  padding: 0.7rem;
  background-color: hsl(0, 0%, 100%);
  width: 20%;
}

.image-container img {
  margin-bottom: 0.8rem;
  max-width: 100%;
  width: 300px;
  height: auto;
}
