* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 0.9375rem; /* 15px / 16px = 0.9375rem, scales relative to root font size */
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

p {
  margin-top: 0.8rem;
  color: hsl(216, 15%, 48%);
}

h2,
p {
  text-align: center;
  width: 90%;
}

.container,
.image-container img {
  border-radius: 10px;
}

.container {
  margin-top: 8%;
  padding: 0.7rem;
  background-color: hsl(0, 0%, 100%);
  max-width: 20%; /* Limits max width on large screens */
  width: 90%; /* Allows container to shrink on small screens */
  margin-left: auto; /* Centers container horizontally */
  margin-right: auto; /* Centers container horizontally */
}

.image-container img {
  margin-bottom: 0.8rem;
  max-width: 100%; /* ensures image never exceeds container width */
  width: 100%; /* makes image scale down with container */
  height: auto;
}
